/* FUENTES*/ 

@font-face {
    font-family: 'cardobold';
    src: url('fonts/cardo-bold-webfont.woff2') format('woff2'),
         url('fonts/cardo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cardoitalic';
    src: url('fonts/cardo-italic-webfont.woff2') format('woff2'),
         url('fonts/cardo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cardoregular';
    src: url('fonts/cardo-regular-webfont.woff2') format('woff2'),
         url('fonts/cardo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack_italic';
    src: url('fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Baskervillennnn';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Baskerville_italicnn';
    src: url('fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline';
    src: url('fonts/lato-hairline-webfont.woff2') format('woff2'),
         url('fonts/lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.woff2') format('woff2'),
         url('fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline_italic';
    src: url('fonts/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('fonts/lato-hairlineitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family:  'Libre Baskerville', serif;
}

body {
  font-family:  'Libre Baskerville', serif;
}
#mainNav{
	position: fixed;
	
}

#bs-example-navbar-collapse-1 {
	background-color: initial;
}

.align-left{
	text-align: left;
}

.titulo1{
	font-size: 18px;
	font-weight: bold;
	color: #002769;

}

.titulo2{
	font-family:  'Libre Baskerville', serif;
	font-size: 30px;
	color: #474747;
	font-weight: bold;
}

.titulo3{
	font-family:  'Libre Baskerville', serif;
	font-size: 12px;
	color : #0060ff;
	font-weight: bold;
}

.text {
	font-family:  'Libre Baskerville', serif;
	color: #929292;
  margin: 0px;  
  font-size: 12px;
}

.iso {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
}
.text2{
	font-family:  'Libre Baskerville', serif;
	color: #474747;
	font-size: 14px;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.list{
	padding-left: 0px;
	list-style:none;
      font-size: 12px;
}

.list li span{
  color: #474747;
  font-weight: bold !important;
}

.listinstalaciones li {
  color: #002769;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.list li{
  margin-bottom: 10px;
}
ul.list > li:before {
  	content: "-";
	padding-right: 10px;
}

.grande{
	font-size: 48px;
}

.grande span {
	font-size: 12px;
    position: absolute;
    bottom: 35px;
    left: 160px;
}

.space{
	margin-top: 20px;
}
.flex{
	display: flex;
}
.fondo img {
	width: 100%;
}

.pcontact{
	font-family:  'Libre Baskerville', serif;
	color: #474747;
	font-size: 12px;
}

.pcontact span  a{
	color: #0072ff;	
}

.copy{
	font-family:  'Libre Baskerville', serif;
	margin-top: 35px;
	font-size: 10px;
  text-align: center;
}


@media(min-width:768px){
.textosfun {
    padding-right: 132px
}
}

@media(max-width:767px){

	.flex{
		display: initial;
	}

	.text2{
		position: initial;
	}

  .imgcor img {
    margin-top: 20px;
  }

   .l1 {
  color: #002769 !important;
}
 .l2 {
  color: #d4d4d4 !important;
}

.l1, .l2 {
  font-size: 5vw !important;
}
#homeHeading {
  font-size: 5vw !important;
}
#imgprin {
    margin-left: 10px !important;
    }
}

#productos  h2, #servicios h2{
	margin-bottom: 20px;
}

.ma {
	margin-bottom: 0px !important;
}

.ma2 {
	margin-top: 0px !important;
}
#myMap{
	position: initial !important;
	height: 100%;
  margin-top: 60px;
}

#contact, #servicios{
	padding: 30px 0px;
}

#mainNav{
  border: none;
  
}

.amazingcarousel-title{
  display: none;
}


.amazingcarousel-list-wrapper , .amazingcarousel-list-container, {
  width: 100% !important;
}

#amazingcarousel-1{
  max-width: 100% !important;
}

#amazingcarousel-1 .amazingcarousel-image img {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.center{
  text-align: center;
}

section {
      padding: 70px 0px 0px 0px;
}

.navbar-header{
      margin-top: -15px;
}

@media (min-width: 600px) and (max-width: 1300px) {

#homeHeading{
  margin-top: 10%;
}

}

#homeHeading{
    font-family: cardoregular;
    font-size: 54px;
    text-align: left;
}

#imgprin { 

    margin-left: -40px;
    margin-top: -18px;
    margin-right: 6px;
}

.navbar-nav li a{
  font-family: cardoregular;
}

.l1, .l2{
  display: inline-block;
  color: #FFF;
  font-family: cardoregular;
  font-size: 35px;
}

.l1{
  font-weight: bold;
  font-weight: 900;
  font-size: 40px;
}

.affix  .l1 {
  color: #002769;
}

.affix  .l2 {
  color: #d4d4d4;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; 
}

.carousel-caption {
       top: 30%;
       left: 8%;
}

#myCarousel > div > a.left.carousel-control > span.glyphicon.glyphicon-chevron-left{
  display: none;
}


#myCarousel > div > a.right.carousel-control > span.glyphicon.glyphicon-chevron-right{
  display: none;
}